# thanks to my FRIEND for making this because i dont like messing with lovely patches

[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if add and not G.GAME.banned_keys[v.key] then "
position = "after"
match_indent = true
payload = '''
    -- yoinked code and concept from Paperback's Paper deck
    if ((G.GAME.selected_back_key or {}).key == 'b_nflame_selfinsert') and v.key:find('j_nflame_') then
      for i = 1, 99 do
        _pool[#_pool + 1] = v.key
        _pool_size = _pool_size + 1
      end
    end
'''
